@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .logo{
        height: 80px;
        width: 431px;
    }
    .font{
        font-size: 14.5px;
    }
    .font2{
        font-weight: 600;
        font-size: 17px;
        margin-left: 800px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .bgColor{
        background-color: #FF385C;
        padding: 9px;
        height: 31px;
        width:  31px;
    }
    .bg2{
        background-color: #e72448;
        font-size: 20px;
        
    }
    .bg2:hover{
        background-color: #e21a3f;
    }
    .color1{
        color: #FF385C;
    }
    .modal::backdrop{
        background-color: rgb(255, 255, 255);
        opacity: 0.3;
      }
      .w40{
        width: 145px;
      }
      .margin{
        margin: -1px;
      }
      .vertical-bar{
        font-size: 22px; 
        font-weight: 2;
      }
      .py5{
         padding-top: 1px;
         padding-bottom: 7px;
      }
      .custom-modal {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }

    .widthModal{
      width: 2250px !important ;
    }

     


}